<div id="content_sitemap">
  <div class="inner">
    <h1>Sitemap</h1>
    <a href="/explore" class="title">Explore the sites</a>
    <ul>
      <% Feature.all.each_with_index do |feature, i| %>
      <li <%= raw('class="first"') if i==0 %>><a href="<%= feature_path(feature) %>"><%= feature.title %></a></li>
      <% end -%>
    </ul>
    <a href="/events" class="title">Events</a>
    <a href="/blog" class="title">Blog</a>
    <a href="/about" class="title">About this site</a>
    <ul>
      <li class="first"><a href="/about">The initiative</a></li>
      <li><a href="/">Definition</a></li>
      <li><a href="/">The UNEP Shelf Programme</a></li>
      <li><a href="/">About GRID-Arendal</a></li>
    </ul>
    <a href="/about" class="title">Legal issues</a>
    <ul>
      <li class="first"><a href="/">Glossary</a></li>
      <li><a href="/">FAQ</a></li>
      <li><a href="/">Partners</a></li>
    </ul>
    <a href="/about" class="title">Contact</a>
  </div>
</div>