<div id="content">

  <div id="body_content_left">

    <div class="about_left_column">
      <div class="head">
        <div id="about_this_site" class="top"></div>
        <div class="middle">
          <h2 id="about_this_site">About this site</h2>
          <span class="line"></span>
        </div>
      </div>

      <div class="middle">
      <h3 id="the_initiative">The initiative</h3>
        <p>UN General Assembly Resolution 57/141 (paragraph 38) calls on UNEP to use existing competence in the GRID-network to assist developing states in completing the activities required to establish the outer limits of their continental shelves according to Article 76 of the United Nations Convention on the Law of the Sea (UNCLOS).</p>
    <h3 id="definition">Definition</h3>
    <p>According to Article 76 of the United Nations Convention of the Law of the Sea (UNCLOS) the definition of the continental shelf is different from the physiographic one used by geoscientists. It is defined as the entire seafloor area over which a State has jurisdiction.</p>
<p>
    This includes:
<ul>
    <li>the submerged platform that extends off the continent, plus</li>
    <li>the pronounced downward slope located seaward of this platform, plus</li>
    <li>the gentle decline found between this slope and the deep ocean floor</li>
    <li>All of the above may lie within the 200 nautical mile limit.</li>
</ul>
</p>
<p>
Under Article 76, the continental shelf beyond the 200 nautical mile limit i only present when specific physical criteria are met within an area bound by established constraint lines. Bathymetric, seismic, magnetic and gravity data is used to determine the position of the physical limits. Borehole information can also be useful to clarify aspects of sub-surface geology.</p>

    <h3 id="the_unep_shelf_programme">The UNEP Shelf Programme</h3>
    <p>The UNEP Shelf Programme was established in response to a United Nations resolution stating that the United Nations Environment Programme (UNEP) should work in conduction with Intergovernmental Oceanographic Commission (IOC) and the International Hydrographic Organisation (IHO), to assist coastal States, and in particular developing States and Small Island Developing States (SIDS) with submissions to secure sovereign rights to make marine territory under Article 76 of the UNCLOS. The program is managed by UNEP/GRID-Arendal in Norway which has developed six work phases based on the technical steps that make up the Article 76 submission proces. The UNEP Shelf Programme can provide assistance related to any of the phases and facilitate cooperation with relevant organizations (data holders, scientific technical institutions and funding agencies).</p>
<p>This includes:
<ul>
  <li>eligible but unsubmitted rights may not be recognized by other States</li>
  <li>control of economic development policies for known and yet unknown natural resources (sustainable resource management)</li>
  <li>only way to ensure final and binding boundaries of national marine jurisdiction</li>
  <li>environmental management and promotion of marine protected areas (MPA)</li>
</ul>
</p>

<p>The establishment of unlimited continental aims towards prolonging the life of initiated project of the continental shelf project.</p>

  <h3 id="about_grid_arendal">About GRID-Arendal</h3>
  <p>GRID-Arendal is a collaborating centre of the United Nations Environment Programme (UNEP).</p>
<p>Established in 1989 by the Government of Norway as a Norwegian Foundation, our mission is to communicate environmental information to policy-makers and facilitate environmental decision- making for change. We are located in Arendal, Southern Norway, with outposted offices in Geneva, Ottawa and Stockholm.</p>

<p>GRID-Arendal’s activities are organized into three major programmes (marine, polar and capacity building and communications) and relate to the six thematic priorities outlined in UNEP’s Medium Term Strategy: Climate change, Disasters and conflicts, Ecosystem management, Environmental governance, Harmful substances and hazardous waste and Resource efficiency – sustainable consumption and production.</p>

<p>The UNEP Shelf Programme also manages a One Stop Data Shop (OSDS) which provides States preparing an Article 76 submission with access to marine geoscientific data from various institutions as shown above. Agreements with participating institutions allow for distribution of data to States on a request basis. The OSDS collects digital data and provides a service for the processing of analogue data including seismic reflection and refraction datasets. Metadata and navigational tracklines for international marine campaigns can be viewed online at <a href="http://www.continentalshelf.org">www.continentalshelf.org</a></p>
      </div>
      <div class="bottom">
        <a onclick="javascript:void $.scrollTo('div#content',0)" id="back_to_top">Back to top</a>
      </div>
    </div>

  </div>

  <div id="body_content_right">
    <div id="about_right_column">
      <div class="about_right">
        <div class="top"></div>
        <div class="middle">
          <div class="menu">
            <h3>About this site</h3>
            <ul>
              <li><a onclick="javascript:void $.scrollTo('div#the_initiative',0)">The initiative</a>
</li>
              <li><a onclick="javascript:void $.scrollTo('div#definition',0)">Definition</a>
</li>
              <li><a onclick="javascript:void $.scrollTo('div#the_unep_shelf_programme',0)">The UNEP Shelf Programme</a>
</li>
              <li><a onclick="javascript:void $.scrollTo('div#about_grid_arendal',0)">About GRID-Arendal</a>
</li>
            </ul>
            <span class="line"></span>

            <h3>Legal issues</h3>

            <h3>Glossary</h3>

            <h3>FAQ</h3>

            <h3>Partners</h3>
          </div>
        </div>
        <div class="bottom"></div>
      </div>
    </div>
  </div>

  <div class="space80"></div>
</div>