<div id="footer" <%= extra_class ? raw("class=\"#{extra_class}\"") : nil %>>
  <div class="inner_footer">
    <div class="left">
      <h4>A PROJECT BY</h4>
      <a href="http://www.grida.no/" class="logo"><%= image_tag 'common/ga_logo_footer.png' %></a>
      <p>UNEP-GRID Arendal.<br/>All rights reserved.</p>
      <p class="list"><a href="/sitemap">Sitemap</a></p>
    </div>
    <div class="right">
      <ul>
        <li><a href="/contact">CONTACT</a></li>
        <li><a href="/about">ABOUT</a></li>
        <li><a href="/blog">BLOG</a></li>
        <li><a href="/events">EVENTS</a></li>
        <li><a href="/explore">EXPLORE</a></li>
        <li><a href="/">HOME</a></li>
      </ul>
    </div>
  </div>
</div>
