<!DOCTYPE html>
<html>
<head>
  <title>Unlimited Shelf</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="shortcut icon" href="/images/favicon.ico"/>
  <%= stylesheet_link_tag 'layout' %>
  <%= javascript_include_tag 'application' %>
</head>

<% if (action_name == 'home') %>
<body class="home">
<% else %>
<body>
<% end %>

  <div id="layout">

    <div id="content">
      <div id="title">
        <div class="inner_title">
         <div class="left">
              <h1>Unlimited Shelf</h1>
              <p class="subtitle">The world map as we know it is about to change</p>
          </div>
          <div class="right">
            <ul class="menu">
              <li><a href="/" class="pressed"><span>HOME</span></a></li>
              <li><a href="/explore"><span>EXPLORE</span></a></li>
              <li><a href="/events"><span>EVENTS</span></a></li>
              <li><a href="/blog"><span>BLOG</span></a></li>
              <li><a href="/about"><span>ABOUT</span></a></li>
            </ul>
          </div>
        </div>
      </div>

     <%= yield %>

    </div> <!-- End content -->

  <%= render :partial => 'layouts/footer', :locals => {:extra_class => nil } %>

  </div> <!-- End layout -->

</body>
</html>